*
{
	margin:0px;
	padding:0px;
}
body
{
	overflow-x:hidden;
	overflow-y:hidden;
	background-image: url(pozad.png);
	background-size: cover;
}
.logbox
{
	background-color:white;
	height:40%;
	width:20%;
	margin-top:15%;
	margin-left:40%;
	border-radius:20px;
}
.tb1:focus
{
	outline:none;
}
.tb2:focus
{
	outline:none;
}
h1
{
	text-align:center;
	padding-top:10px;
}
.tb
{
	padding-top:40px;
}
a
{
	text-decoration:none;
	color:white;
	font-weight:bold;
	text-transform:uppercase;
	padding:10px 20px;
	border:2px solid #27a8c4;
	background-color:#27a8c4;
	border-radius:15px;
}
.login
{
	margin-left:90px;
	margin-top:40px;
}
.tb1
{
	border-radius:20px;
	border:2px solid grey;
	padding:10px;
	margin-left:40px;
}
.tb2
{
	margin-top:20px;
	margin-left:40px;	
	border-radius:20px;
	border:2px solid grey;
	padding:10px;
}